.container {
  margin: 20px auto;
  max-width: 1000px;
  width: 95%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container > img {
  margin: 20px auto 50px;
  width: 100%;
  max-width: 700px;
}

.container > h1 {
  font-family: "Exo 2", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Paytone One", sans-serif;
  font-size: 5rem;
  text-align: center;
}

a {
  color: #fff;
}
