<div class="menu-bar">
  <ul class="menu-bar-left">
    <li>
      <a href="#">
        <img src="assets/img/logo.png" alt="" class="menu-bar-logo-img" />
      </a>
    </li>
  </ul>

  <ul class="menu-bar-right">
    <li class="menu-bar-item">
      <a [routerLink]="['']">Home</a>
    </li>
    <!-- <li class="menu-bar-item">
      <a href="#">Blog</a>
    </li> -->
    <li class="menu-bar-item">
      <a href="#">Contact</a>
    </li>
    <li class="menu-bar-item">
      <a href="#">About</a>
    </li>
  </ul>
</div>
